<!doctype html>
<html ng-app id="dragzone">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/haralyzer.css">
    <title>HARalyzer</title>
</head>
<body>
    <div ng-controller="HarCtrl" class="container-fluid" id="main-controller">
        <h1>HARalyzer</h1>
        <p>
            <a href="http://www.savagechickens.com/2008/09/talk-like-a-pirate-2008.html" class="har" ng-show="!files.length">
                <img src="/static/chickenarryarhar.jpg" alt="HARRRR!">
            </a>
        </p>
        <h2>Choose your files</h2>
        <p>
            Drop the HAR files on the page or find them on your PC
            <input type="file" id="inputfile" multiple="multiple">
        </p>
        <button type="button" class="btn btn-default" ng-click="demo()" ng-show="!files.length">load demo files</button>
        <div ng-repeat="file in files | orderBy:'data.log.pages.0.startedDateTime'">
            <input type="checkbox" ng-model="file.check">
            <span>{{ file.file }}</span>
        </div>
        <div class="functions" ng-show="files.length">
            <button type="button" class="btn btn-default" ng-click="selectAll()">{{ (selected().length < files.length) && 'check all' || 'uncheck all' }}</button>
            <button type="button" class="btn btn-default" ng-click="removeSelected()" ng-disabled="!selected().length">remove</button>
        </div>

        <h2 ng-show="selected().length">See the results</h2>
        <div ng-show="selected().length">
            compare files with
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" ng-class="{'active': (compareWith == 'best')}">
                    <input type="radio" ng-model="compareWith" value="best">
                    <i class="glyphicon glyphicon-star"></i> best
                </label>
                <label class="btn btn-primary" ng-class="{'active': (compareWith == 'worst')}">
                    <input type="radio" ng-model="compareWith" value="worst">
                    <i class="glyphicon glyphicon-star-empty"></i> worst
                </label>
                <label class="btn btn-primary" ng-class="{'active': (compareWith == 'previous')}">
                    <input type="radio" ng-model="compareWith" value="previous">
                    <i class="glyphicon glyphicon-arrow-left"></i> previous
                </label>
                <label class="btn btn-primary" ng-class="{'active': (compareWith == 'next')}">
                    <input type="radio" ng-model="compareWith" value="next">
                    <i class="glyphicon glyphicon-arrow-right"></i> next
                </label>
                <label class="btn btn-primary" ng-class="{'active': (compareWith == 'selected')}">
                    <input type="radio" ng-model="compareWith" value="selected">
                    <i class="glyphicon glyphicon-ok"></i> file selected
                </label>
            </div>
        </div>
        <div class="compare" ng-show="selected().length">
            <div class="compareCol">
                <span>File</span>
                <span>Time</span>
                <span>Page</span>
                <span>Resources</span>
                <span>Request Headers</span>
                <span>Response Headers</span>
                <span>Response Size</span>
            </div>
            <div class="results">
                <div class="compareCol" ng-repeat="file in selected() | orderBy:'data.log.pages.0.startedDateTime'" ng-click="unit(file)" ng-class="{'selected': file.unit}">
                    <span>{{ file.file }}</span>
                    <span>{{ file.data.log.pages.0.startedDateTime | date:'dd MMM yyyy @ H:mm' }}</span>
                    <span>{{ file.data.log.pages.0.title }}</span>
                    <span class="text-right" ng-class="{'best': (ranges.best.entriesLength == file.data.log.entriesLength), 'worst': (file.data.perc.entriesLength > 0), 'better': (file.data.perc.entriesLength < 0)}">
                        <small ng-show="file.data.perc.entriesLength"><i ng-show="file.data.perc.entriesLength > 0">+</i>{{ file.data.perc.entriesLength | number:2 }}%</small>
                        <i class="glyphicon glyphicon-star" ng-show="ranges.best.entriesLength == file.data.log.entriesLength && compareWith != 'worst'"></i><i class="glyphicon glyphicon-star-empty" ng-show="ranges.worst.entriesLength == file.data.log.entriesLength && compareWith == 'worst'"></i> {{ file.data.log.entriesLength | number }}
                    </span>
                    <span class="text-right" ng-class="{'best': (ranges.best.entriesReqHeadersSize == file.data.log.entriesReqHeadersSize), 'worst': (file.data.perc.entriesReqHeadersSize > 0), 'better': (file.data.perc.entriesReqHeadersSize < 0)}">
                        <small ng-show="file.data.perc.entriesReqHeadersSize"><i ng-show="file.data.perc.entriesReqHeadersSize > 0">+</i>{{ file.data.perc.entriesReqHeadersSize | number:2 }}%</small>
                        <i class="glyphicon glyphicon-star" ng-show="ranges.best.entriesReqHeadersSize == file.data.log.entriesReqHeadersSize && compareWith != 'worst'"></i><i class="glyphicon glyphicon-star-empty" ng-show="ranges.worst.entriesReqHeadersSize == file.data.log.entriesReqHeadersSize && compareWith == 'worst'"></i> {{ file.data.log.entriesReqHeadersSize | number }} B
                    </span>
                    <span class="text-right" ng-class="{'best': (ranges.best.entriesResHeadersSize == file.data.log.entriesResHeadersSize), 'worst': (file.data.perc.entriesResHeadersSize > 0), 'better': (file.data.perc.entriesResHeadersSize < 0)}">
                        <small ng-show="file.data.perc.entriesResHeadersSize"><i ng-show="file.data.perc.entriesResHeadersSize > 0">+</i>{{ file.data.perc.entriesResHeadersSize | number:2 }}%</small>
                        <i class="glyphicon glyphicon-star" ng-show="ranges.best.entriesResHeadersSize == file.data.log.entriesResHeadersSize && compareWith != 'worst'"></i><i class="glyphicon glyphicon-star-empty" ng-show="ranges.worst.entriesResHeadersSize == file.data.log.entriesResHeadersSize && compareWith == 'worst'"></i> {{ file.data.log.entriesResHeadersSize | number }} B
                    </span>
                    <span class="text-right" ng-class="{'best': (ranges.best.entriesSize == file.data.log.entriesSize), 'worst': (file.data.perc.entriesSize > 0), 'better': (file.data.perc.entriesSize < 0)}">
                        <small ng-show="file.data.perc.entriesSize"><i ng-show="file.data.perc.entriesSize > 0">+</i>{{ file.data.perc.entriesSize | number:2 }}%</small>
                        <i class="glyphicon glyphicon-star" ng-show="ranges.best.entriesSize == file.data.log.entriesSize && compareWith != 'worst'"></i><i class="glyphicon glyphicon-star-empty" ng-show="ranges.worst.entriesSize == file.data.log.entriesSize && compareWith == 'worst'"></i> {{ file.data.log.entriesSize | number }} B
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="static/haralyzer.js"></script>
</body>
</html>