<!doctype html>
<html ng-app id="dragzone">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/haralyzer.css">
    <title>HARalyzer</title>
</head>
<body>
    <div ng-controller="HarCtrl" class="container-fluid" id="main-controller">
        <h1>HARalyzer</h1>
        <h2>Choose your files</h2>
        <p>
            Drop the HAR files on the page or find them on your PC
            <input type="file" id="inputfile" multiple="multiple">
        </p>
        <button type="button" class="btn btn-default" ng-click="demo()" ng-show="!files.length">load demo files</button>
        <div ng-repeat="file in files | orderBy:'data.log.pages.0.startedDateTime'">
            <input type="checkbox" ng-model="file.check">
            <span>{{ file.file }}</span>
        </div>
        <div class="functions" ng-show="files.length">
            <button type="button" class="btn btn-default" ng-click="selectAll()">{{ (selected().length < files.length) && 'check all' || 'uncheck all' }}</button>
            <button type="button" class="btn btn-default" ng-click="removeSelected()" ng-disabled="!selected().length">remove</button>
        </div>

        <h2 ng-show="files.length">See the results</h2>
        <div class="compare" ng-show="selected().length">
            <div class="compareCol">
                <span>File</span>
                <span>Time</span>
                <span>Page</span>
                <span>Resources</span>
                <span>Request Headers</span>
                <span>Response Headers</span>
                <span>Response Size</span>
            </div>
            <div class="results">
                <div class="compareCol" ng-repeat="file in selected() | orderBy:'data.log.pages.0.startedDateTime'" ng-click="unit(file)" ng-class="{'selected': file.unit}">
                    <span>{{ file.file }}</span>
                    <span>{{ file.data.log.pages.0.startedDateTime | date:'dd MMM yyyy @ H:mm' }}</span>
                    <span>{{ file.data.log.pages.0.title }}</span>
                    <span class="text-right" ng-class="{'best': (ranges.min.entriesLength == file.data.log.entriesLength)}">
                        {{ file.data.log.entriesLength | number }}
                        <small ng-show="compare.entriesLength != file.data.log.entriesLength">{{ (file.data.log.entriesLength / compare.entriesLength * 100 - 100) | number:2 }}%</small>
                    </span>
                    <span class="text-right" ng-class="{'best': (ranges.min.entriesReqHeadersSize == file.data.log.entriesReqHeadersSize)}">
                        {{ file.data.log.entriesReqHeadersSize | number }} B
                        <small ng-show="compare.entriesReqHeadersSize != file.data.log.entriesReqHeadersSize">{{ (file.data.log.entriesReqHeadersSize / compare.entriesReqHeadersSize * 100 - 100) | number:2 }}%</small>
                    </span>
                    <span class="text-right" ng-class="{'best': (ranges.min.entriesResHeadersSize == file.data.log.entriesResHeadersSize)}">
                        {{ file.data.log.entriesResHeadersSize | number }} B
                        <small ng-show="compare.entriesResHeadersSize != file.data.log.entriesResHeadersSize">{{ (file.data.log.entriesResHeadersSize / compare.entriesResHeadersSize * 100 - 100) | number:2 }}%</small>
                    </span>
                    <span class="text-right" ng-class="{'best': (ranges.min.entriesSize == file.data.log.entriesSize)}">
                        {{ file.data.log.entriesSize | number }} B
                        <small ng-show="compare.entriesSize != file.data.log.entriesSize">{{ (file.data.log.entriesSize / compare.entriesSize * 100 - 100) | number:2 }}%</small>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="/static/haralyzer.js"></script>
</body>
</html>