html, body {
    min-height: 100%;
}

body {
    padding: 20px;
    background: url(pirate.png) 98% 20px no-repeat;
}

#inputfile {
    display: inline;
}
#report {
    padding: 0 10px;
    margin: 1em 0;
    border: 1px solid #999;
}
