html, body {
    min-height: 100%;
}

body {
    padding: 20px;
    /*background: url(pirate.png) 98% 20px no-repeat;*/
}

#inputfile {
    display: none;
}
#report {
    padding: 0 10px;
    margin: 1em 0;
    border: 1px solid #999;
}
.compare {
    white-space: nowrap;
    margin: 20px 0;
}
.compareCol {
    display: inline-block;
    border: 2px solid transparent;
}
.results .compareCol {
    min-width: 260px;
}
.compareCol.selected {
    background: #F8FcFf;
    border-color: #428bca;
}
.compare > .compareCol {
    float: left;
    font-weight: bold;
}
.compare > .compareCol .full {
    font-weight: normal;
}
.compareCol span {
    display: block;
    height: 35px;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
    line-height: 25px;
}
.compareCol span .label {
    padding: .3em .6em .2em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 4px 0;
    float: left;
}
.compareCol .full {
    display: none;
}
.full .compareCol .full {
    display: block;
}
.compareCol .progress {
    overflow: visible;
}
.compareCol .progress-bar {
    position: relative;
}
.compareCol .progress-bar span {
    display: none;
    background: black;
    position: absolute;
    bottom: 20px;
}
.compareCol .progress-bar:last-child span {
    right: 0;
}
.compareCol .progress-bar:hover span {
    display: block;
}
.compareCol .worst .label {
    background-color: #d9534f;
}
.compareCol .better .label {
    background-color: #5cb85c;
}
.compareCol .glyphicon-star {
    color: #5cb85c;
}
.compareCol .glyphicon-star-empty {
    color: #d9534f;
}
.results {
    display: block;
    overflow: auto;
}
.functions {
    clear: both;
    margin: 20px 0;
}

.progress-bar-blocked {
    background-color: #d9534f;
}
.progress-bar-dns {
    background-color: #5bc0de;
}
.progress-bar-connect {
    background-color: #6E2BBD;
}
.progress-bar-send {
    background-color: #428bca;
}
.progress-bar-wait {
    background-color: #f0ad4e;
}
.progress-bar-receive {
    background-color: #5cb85c;
}